/*CSS Utilisateur*/


/* PAGE CATALOGUE UTILISATEUR */
.text_accueil {
	text-align: center;
	background-color: white;
}

.img_accueil {
	display: inline-block;
	width: 250px;
	margin: 5px;
	padding: 20px;
}

.container {
	position: relative;
	top: 0;
	min-height: 1000px;
	/*pour que le conteneur ait une taille min de 1000px et positionner le footer dessous*/
}

.aside {
	width: 25%;
	position: absolute;
	background-color:;
	height: 100%;
	text-align: center;
}

.content {
	width: 70%;
	margin-left: 25%;
}

article {
	padding: 10px 0px; margin : 10px;
	background-color: #ffffff;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: black;
	margin: 10px;
}

article li {
	line-height: 1.5em;
	list-style-type: none;
}
article li::before {content: "• "; color: #004080}

.filtre {
	position: relative;
	margin: 20px;
	padding:0;
	text-align: left;
}
#classe_energetique{
	text-align: center;
}

.titre_filtre {
	padding-top: 5px;
	height: 30px;
	color: white;
	text-align: center;
	background-color: #004080;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.bouton_filtre {
	height: 35px;
	width: 80%;
	text-align: center;
	background-color: #004080; color : #ffffff;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	transition-duration: 0.4s;
	color: #ffffff;
	font-weight: bold;
}

.bouton_filtre:hover {
	background-color: #1188ff;
	color: #ffffff;
}

/* PAGE ACCUEIL UTILISATEUR */
.container_accueil {
	width: 100%;
	margin: 40px 0;
}

.container_image_accueil {
	position: relative;
	width: 100%;
	display: grid;
}

.image_accueil {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	opacity: 0.6;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
}

.container_image_accueil:hover .overlay {
	height: 100%;
}

.text_overlay {
	white-space: nowrap;
	color: white;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.text_basdepage {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border-width: 3px;
	border-style: solid;
	border-color: #004080;
	text-align: center;
	background-color: white;
	color: black;
	font-size: 20pt;
	text-align: center;
	padding: 30px 30px 30px;
	margin: 50px 30px 50px;
}

/* FOOTER */
footer {
	display: inline-block;
	background-color: #c0c0c0;
	bottom: 0;
	width: 100%;
	height: 80px;
}

.image_footer {
	height: 30px;
	width: 30px;
	margin: 10px;
}