body {
	margin:0;
}

header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	/*position:fixed*/
	top: 0;
	width: 100%;
	height: 80px;
}

.logo {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 80px;
}

h1.titre {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	color: white;	
}

.drapeau {
	height: 30px;
	width: 30px;
	margin: 10px;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  /*position:fixed*/
  top: 80px;
  width: 100%;
}

header li { 
  float: left;
}

li a { 
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active:hover {
  background-color: #4CAF50;
}
/*css Utilisateur*/

.text_accueil{
	text-align: center;
	background-color: #4CAF50;
}
.img_accueil{
	display:inline-block;
	width:250px;
	margin: 5px;
  	padding: 20px;
}
footer{
	display:inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	top: 0;
	width: 100%;
	height: 80px;
}
/* Create two columns/boxes that floats next to each other */

.container {
   position: relative;
   top: 0;
 }

.aside {
    width: 15%;
    position: absolute;
    background-color: gray;
    height: 100%;
    text-align: center;
}

.content {
    width: 65%;
    margin-left: 20%;
}
article{
	background-color: #0080ff;
}
.filtre{
	background-color: #80ff00;
	margin: 20px;
}

