
/*css Utilisateur*/

.text_accueil{
	text-align: center;
	background-color: #4CAF50;
}
.img_accueil{
	display:inline-block;
	width:250px;
	margin: 5px;
  	padding: 20px;
}
footer{
	display:inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	top: 0;
	width: 100%;
	height: 80px;
}
/* Create two columns/boxes that floats next to each other */

.container {
   position: relative;
   top: 0;
 }

.aside {
    width: 15%;
    position: absolute;
    background-color: gray;
    height: 100%;
    text-align: center;
}

.content {
    width: 65%;
    margin-left: 20%;
}
article{
	margin: 10px;
	background-color: #0080ff;
}
.filtre{
	background-color: #80ff00;
	margin: 20px;
}

#lk {
	height: 20px;
	width: 20px;
}

#fb {
	height: 20px;
	width: 20px;
}

/*selection curseur sur les boutons categories*/



.tdCat:hover
{
	cursor: pointer; 
	background-color:gray; 
	text-align:center;
	 
}

.tdCat
{
	border-radius: 10px; 
	width:25%; 
	background-color:#e90649; 
	text-align:center
}

